:root {
  --font-main: 'Roboto', sans-serif;
  --page-bg: #ffffff;
  --white: #fff;
  --black: #000;
  --yellow: #faff09;
  --red: #eb5757;
  --blush-red: #e7d0d0;
  --Gray-1: #333;
  --Gray-2: #4f4f4f;
  --Gray-3: #828282;
  --Gray-4: #bdbdbd;
  --Gray-5: #e0e0e0;
  --Gray-6: #f2f2f2;
  --desktop-size: 1920px;
  --tablet-size: 834px;
  --mobile-size: 375px;
}
