.footer {
  height: 1075px;  
  position: relative;
  margin-top: 81px;

  & .polygon_large {
    position: absolute;
    height: 1075px;    
    max-width: 1432px;
    width: 100%;   
  
  & img[alt="Polygon_large"] {
    position: absolute;
    bottom: 0;
    left: 0;    
  }
  & img[alt="Polygon_large-1"] {
    position: absolute;
    top: 0;
    right: 349px;
  }
}
}