@import './base/reset';
@import './base/vars';
@import './base/base';
@import './base/utils';
@import './base/containers';
@import './base/sticky-footer';
@import './base/fonts';

@import './blocks/*.scss';

.intro {
  height: 1080px;
  background-image: url(./../img/jpg/intro.jpg);
  position: relative;
}