@import './base/reset';
@import './base/vars';
@import './base/base';
@import './base/utils';
@import './base/containers';
@import './base/sticky-footer';
@import './base/fonts';

@import './blocks/*.scss';

.intro {
  height: 1080px;
  background-image: url(./../img/jpg/intro.jpg);
  position: relative;
}

.intro_wrapper {
  max-width: 746px;
  width: 100%;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  row-gap: 165px;
  column-gap: 50px;
}

.intro_item-1 {
  grid-column: span 2;
  color: var(--Gray-6);
  text-align: center;
  font-size: 8rem;
  font-weight: 300;
}

.intro_item-2,
.intro_item-3 {
  display: flex;
  max-width: 348px;
  width: 100%;
  max-height: 77px;
  height: 100%;
  color: var(--white);
  text-align: center;
  font-size: 2.4rem;
  font-weight: 300;
  border: 1px solid #c4c4c4;
  background: rgba(17, 17, 17, 0.6);
  align-items: center;
  justify-content: center;

  &:hover {
    background: rgba(17, 17, 17, 0.9);
    transition: transform 0.5s ease-in;
  }
}

.achieve_cont {
  padding: 40px;
}

.achieve {
  max-width: 1840px;
  width: 100%;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  row-gap: 60px;
  background: var(--Gray-6);

  & .achieve_item-1 p {
    max-width: 314px;
  }
  & .achieve_item-2 p {
    max-width: 340px;
  }
  & .achieve_item-3 p {
    max-width: 356px;
  }
  & .achieve_item-4 p {
    max-width: 245px;
  }

  & h2 {
    color: #0e0e0e;
    font-size: 6.4rem;
    font-weight: 400;
    margin-bottom: 7px;
  }

  & h5 {
    display: flex;
    align-items: flex-start;
    color: #0e0e0e;
    font-size: 2.8rem;
    font-weight: 400;
    margin-bottom: 16px;
    margin-left: 6px;
    gap: 6px;
  }

  & p {
    color: #0e0e0e;
    font-size: 1.8rem;
    font-weight: 300;
    margin-left: 30px;
  }
}

.cost {
  display: grid;
  grid-template-columns:
    minmax(50px, 200px) minmax(300px, 860px) minmax(200px, 635px)
    minmax(0, 225px);
  grid-template-rows: 84px repeat(2, 1fr);
  gap: 20px;
  & h2 {
    grid-column: 1 / 5;
    font-size: clamp(2.4rem, 2.5vw, 4.8rem);
    font-weight: 300;
    margin-left: 61px;
    &::after {
      display: block;
      content: '';
      width: 200px;
      height: 10px;
      background-color: var(--black);
      margin-top: 18px;
      margin-left: -60px;
    }
  }
  & .test_query {
    grid-column: 2 / 3;
  }
  & .test_query h3 {
    font-size: clamp(1.8rem, 2.5vw, 4.8rem);
    font-weight: 400;
    margin-bottom: 48px;
  }
  & .test_query p {
    color: var(--Gray-1);
    font-size: clamp(1.8rem, 2.5vw, 3.6rem);
    font-weight: 300;
    line-height: 147.187%;
  }
  & .polygon {
    position: relative;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    & img[alt='Polygon'] {
      position: absolute;
      bottom: 0;
    }
  }
  & button {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    color: var(--white);
    text-align: center;
    aspect-ratio: 16/3.5;
    font-size: clamp(1.8rem, 2.5vw, 3.6rem);
    font-weight: 300;
    background-color: var(--black);
    width: 59.3%;
    margin-top: 36px;
  }
  & .bonuses {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    aspect-ratio: 1.67;
    padding-left: 78px;
    & h5 {
      font-size: clamp(1.8rem, 2.5vw, 3.6rem);
      font-weight: 400;
      line-height: 147.187%;
      margin-bottom: 19px;
    }
    & p {
      display: flex;
      align-items: baseline;
      color: var(--Gray-1);
      font-size: clamp(1.4rem, 2.5vw, 3.6rem);
      font-weight: 300;
      line-height: 147.187%;
      margin-bottom: 27px;
      gap: 12px;
    }
  }
}

.large_gap {
  grid-row-gap: 56px;
}

.service {
  display: grid;
  grid-template-rows: 84px 833px;
  grid-template-columns: 86px repeat(4, 1fr) 86px;
  grid-row-gap: 56px;
  margin-bottom: 49px;
  & h2 {
    grid-column: 1 / 7;
    font-size: 4.8rem;
    font-weight: 300;
    margin-left: 61px;
    &::after {
      display: block;
      content: '';
      width: 200px;
      height: 10px;
      background-color: var(--black);
      margin-top: 18px;
      margin-left: -60px;
    }
  }
  & .service_item-1 {
    grid-column-start: 2;
  }
  & .service_item-1,
  & .service_item-2,
  & .service_item-3,
  & .service_item-4 {
    & img[alt='Mark'] {
      margin-top: 42px;
      margin-bottom: 7px;
    }
    & h4 {
      color: #0e0e0e;
      font-size: 4.8rem;
      font-weight: 500;
      margin-bottom: 23px;
    }
    & p {
      max-width: 294px;
      width: 100%;
      color: var(--Gray-2);
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 147.187%;
    }
  }
}

.our_projects {
  display: grid;
  grid-template-columns: 84px repeat(3, 1fr) 108px;
  grid-template-rows: 102px 831px 831px 66px;
  margin-bottom: 52px;
  background: linear-gradient(
    to right,
    var(--white) 0px,
    var(--white) 746px,
    #f5f5f5 746px,
    #f5f5f5 1174px
  );
  & h2 {
    grid-column: 1 / 6;
    font-size: 4.8rem;
    font-weight: 300;
    margin-left: 61px;
    &::after {
      display: block;
      content: '';
      width: 200px;
      height: 10px;
      background-color: var(--black);
      margin-top: 18px;
      margin-left: -60px;
    }
  }
  & .our_projects_item-1 {
    grid-column: 2;
  }
  & .our_projects_item-4 {
    grid-column: 2;
  }
  & h5 {
    font-size: 2.8rem;
    font-weight: 400;
    margin-bottom: 13px;
    margin-top: 18px;
  }
  & h6 {
    color: var(--Gray-3);
    font-size: 2.4rem;
    font-weight: 300;
    margin-bottom: 13px;
  }
  & p {
    color: var(--Gray-1);
    font-size: 1.8rem;
    font-weight: 300;
  }
  & button {
    justify-self: center;
    grid-column: 3;
    max-width: 273px;
    width: 100%;
    max-height: 66px;
    height: 100%;
    border: 1px solid var(--black);
    background: var(--black);
    color: var(--Gray-6);
    text-align: center;
    font-size: 2.4rem;
    font-weight: 300;
    & span {
      margin-left: 11px;
    }
  }
}

.stages {
  margin-top: 75px;
  display: grid;
  grid-template-columns: 105px repeat(3, 1fr) 105px;
  grid-template-rows: 192px repeat(2, 1fr) 181px;

  & h2 {
    grid-column: 1 / 4;
    font-size: 4.8rem;
    font-weight: 300;
    margin-left: 61px;
    margin-bottom: 30px;
    &::after {
      display: block;
      content: '';
      width: 200px;
      height: 10px;
      background-color: var(--black);
      margin-top: 18px;
      margin-left: -60px;
    }
  }
  & > div {
    padding: 61px 0 22px;
    & p {
      max-width: 387px;
      width: 100%;
      color: var(--Gray-2);
      font-size: 2.8rem;
      font-weight: 400;
      line-height: 147.687%;
      margin-left: 85px;
    }
  }
  & .data {
    display: flex;
    align-items: flex-start;
    margin-top: 43px;
    & h5 {
      font-size: 6.4rem;
      font-weight: 500;
      line-height: 0.7;
      margin-right: 10px;
    }
    & h6 {
      font-size: 3.2rem;
      font-weight: 700;
      background-color: var(--yellow);
      margin-top: -15px;
    }
  }
  .stages_item-1 {
    grid-column: 2 / 3;
  }
  .stages_item-4 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }
  .stages_item-5 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
  .stages_item-6 {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
  }
  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 57px;
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    border: 1px solid var(--black);
    background: rgba(196, 196, 196, 0);
    max-width: 510px;
    width: 100%;
    max-height: 112px;
    height: 100%;
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    margin-left: 194px;
  }
  & .check_text {
    margin-top: 25px;
    margin-left: 85px;
    display: flex;
    justify-content: flex-start;
    & p {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 147.687%;
      text-decoration-line: underline;
      margin-left: 6px;
    }
    & img {
      padding: 3px;
      background-color: var(--yellow);
      border-radius: 50%;
    }
  }
}

.stages_item-1,
.stages_item-2,
.stages_item-3 {
  position: relative;
  border-bottom: 3px dashed var(--black);
  & img[alt='Dashed_line'] {
    position: absolute;
    left: 50%;
    bottom: -43px;
  }
}

#gall {
  margin-bottom: 47px;
}

.gallery {
  & .flats {
    padding: 0 96px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: 102px repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
    & h3 {
      grid-column: 1 / 2;
    }
    & .flat_item-1 {
      grid-column: 1 / 2;
    }
  }
}

.catalogue {
  padding: 82px 118px 0 61px;
  display: grid;
  grid-template-columns: minmax(300px, 958px) minmax(300px, 691px);
  grid-template-rows: 152px 653px;
  grid-column-gap: 109px;
  & h2 {
    grid-column: 1 / 3;
    font-size: 4.8rem;
    font-weight: 300;
    line-height: 5.6rem;
    letter-spacing: 0%;
    &::after {
      display: block;
      content: '';
      width: 200px;
      height: 10px;
      background-color: var(--black);
      margin-top: 18px;
      margin-left: -60px;
    }
  }
  & .catalogue_pic {
    width: 100%;
    height: 100%;
  }
  & img[alt='Catalogue'] {
    margin-top: 14px;
  }
  & .catalogue_contacts {
    & h3 {
      max-width: 477px;
      width: 100%;
      font-size: 3.6rem;
      font-weight: 500;
      line-height: 146.69%;
      letter-spacing: 0%;
      margin-bottom: 41px;
    }
    & p {
      max-width: 425px;
      width: 100%;
      color: var(--Gray-2);
      font-size: 2.4rem;
      font-weight: 300;
      line-height: 146.19%;
      margin-bottom: 66px;
    }
  }
  & .e-mail {
    max-width: 677px;
    width: 100%;
    height: 88px;
    border: 1px solid var(--black);
    background: rgba(196, 196, 196, 0);
    padding: 30px;
    color: var(--Gray-2);
    font-size: 2.4rem;
    font-weight: 250;
    line-height: 28px;
    margin-bottom: 15px;
  }
  & .pers_data_agr {
    color: rgb(51, 51, 51);
    font-size: 14px;
    font-weight: 300;
    line-height: 146.19%;
    margin-bottom: 72px;
    & a {
      text-decoration: underline;
      color: inherit;
    }
  }
  & button {
    max-width: 677px;
    width: 100%;
    height: 112px;
    background-color: var(--black);
    color: var(--Gray-6);
    font-size: 3.6rem;
    font-weight: 300;
    line-height: 42px;
  }
}

// Media queries

@media screen and (max-width: 1026px) {
  .achieve_cont {
    padding: 26px 20px;
  }
  .achieve h2 {
    font-size: 4.8rem;
  }
  .achieve h5 {
    font-size: 2.4rem;
  }
  .achieve p {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 834px) {
  .intro_wrapper {
    column-gap: 27px;
    row-gap: 140px;
    max-width: 575px;
    max-height: 370px;
  }
  .intro_item-1 {
    font-size: 4.8rem;
  }
  .intro_item-2,
  .intro_item-3 {
    max-width: 274px;
    width: 100%;
    max-height: 61px;
    height: 100%;
    font-size: 1.8rem;
  }
  .cost .bonuses {
    padding-left: 30px;
  }
}

@media screen and (max-width: 670px) {
  .achieve h2,
  .achieve h5 {
    display: flex;
    justify-content: center;
  }
  .achieve p {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: center;
    &::after {
      display: block;
      content: '';
      width: 20px;
      height: 20px;
      background-color: var(--black);
      margin: 18px auto 0;
    }
  }
  .achieve h5 img {
    display: none;
  }
}

@media screen and (max-width: 630px) {
  .intro_wrapper {
    display: block;
  }
  .intro_item-1 {
    margin-bottom: 199px;
  }
  .intro_item-2,
  .intro_item-3 {
    max-width: 274px;
    width: 100%;
    max-height: 61px;
    height: 100%;
    margin: 0 auto 26px;
  }
  .achieve_cont {
    padding: 12px 10px;
  }
  .achieve h5 {
    text-align: center;
  }
  .cost {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    text-align: center;
    & h2 {
      font-size: clamp(2.4rem, 2.5vw, 4.8rem);
      font-weight: 300;
      margin-left: 61px;
      &::after {
        display: block;
        content: '';
        width: 200px;
        height: 10px;
        background-color: var(--black);
        margin-top: 18px;
        margin-left: -60px;
      }
    }
    & .polygon img[alt='Polygon'] {
      position: relative;
    }
    & button {
      color: red;
      margin: 0 auto;
      order: 6;
    }
  }
}

@media screen and (max-width: 375px) {
  .achieve {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .achieve h2 {
    font-size: 4.8rem;
  }
  .achieve h5 {
    font-size: 1.8rem;
  }
  .achieve p {
    font-size: 1.4rem;
  }
}
